.view-master-detail {
  .navbar-master-detail-root .link.back,
  .page-master-detail-root .navbar .link.back {
    display: none;
  }
}

.tabs {
  height: 100%;
}

.toolbar:not(.toolbar-bottom) .tab-link-highlight {
  bottom: 0
}

.view-js, .view-php {
  > .page {
    padding-top: 48px;
  }
}

.page-master-detail {
  > .navbar {
    margin-top: 48px;
  }

  > .page-content {
    padding: .5rem;
  }

  > .page-content {
    padding-top: 48px;
  }
}

.views.tabs {
  > .toolbar {
    box-shadow: 1px 1px 8px #aaa;
  }
}